<!--We set this variable to alert main.js that we are on this page-->
<script>
    var ON_DOCUMENTATION = true;
</script>
<div class="mainContentWrapper">
    <div class="pageTitleWrapper">
        <h1>Event Study Documentation</h1>
    </div>
    <div class="productWrapper">
        <div class="productTitleWrapper">
            <h2>Event study</h2>
        </div>
        <h3>Downloading and installation</h3>
        Download and extract the API from our <a href="/releases">releases</a> page.<br><br>
        The program is standalone so no installation is required, please see the
        readme.txt file for a description of everything provided in the download
        <h3>Running the standalone executable from the terminal</h3>
        The program can be executed in several modes depending on purpose
        <h4>Default mode</h4>
        In default mode the program will perform an event study and can be run in the following way:
        <code>
            ./event_study_api [optional flags] &lt;stock-data-file&gt; &lt;event-data-file&gt; &lt;lowerWindow&gt; &lt;upperWindow&gt;
            [optional parameters]
        </code>
        <ul>
            <li> Optional flags:
                <ul>
                    <li>--json: outputs results in rich JSON to standard output.
                    The JSON will be returned in the following format:<br>
                    {"cumulative_Return_average": [...], "eventData":[{"ric":"RIC", "date":"DD-MM-YYYY", "cumulativeReturns":[...], "variables":{"Variable":Val}}]
                    </li>
                    <li>--percent: Changes the cumulative return output to be a percentage rather than $ values</li>
                </ul>
            </li>
            <li>&lt;stock-data-file&gt;: The file containing stock information. Must be a comma-separated file (.csv).
            </li>
            <li>&lt;event-data-file&gt;: The file containing event information. Must be a comma-separated file (.csv).
            </li>
            <li>&lt;lowerWindow&gt;: the number of days before the event date to consider (negative value). e.g. -3
                means 3 days before the event date
            </li>
            <li>&lt;upperWindow&gt;: the number of days after the event date to consider (positive value). e.g. 5 mean 5
                days after the event date. Note: must be greater than or equal to the &lt;lowerWindow&gt;</li>
            <li>
                Parameters: Must always come in lots of 3 : [&lt;eventType&gt; &lt;eventType-lowerBound&gt; &lt;eventType-upperBound&gt;]
                <ul>
                    <li>&lt;eventType&gt;: The name of the variable you want to filter events for.</li>
                    <li>&lt;eventType-lowerBound&gt;: The lower bound for the variable.(INCLUSIVE)</li>
                    <li>&lt;eventType-upperBound&gt;: The upper bound for the variable.(INCLUSIVE)</li>
                </ul>
            </li>
        </ul>
        <h4>Examples</h4>
        With the files given, if you run the following command
        <code>
            ./event_study_api stockfile.csv eventfile.csv -5 5
        </code>
        The generated output will be put into output.csv <br>
        Now lets say we want to filter the events by "Cash Rate" and we want it to be between 1 - 1.
        <code>
            ./event_study_api stockfile.csv eventfile.csv -5 5 "Cash Rate" 1 1
        </code>
        This will result in the the program only taking events which have cash rate between 1 and 1 inclusive
        <br>
        If you want to output the results from the above command in JSON, use the --json flag at the start:
        <code>
            ./event_study_api --json stockfile.csv eventfile.csv -5 5 "Cash Rate" 1 1
        </code>

        <h4>Analyse mode</h4>
        Analyse mode allows the user to recieve a list of all RICs in the stock file and all events with their upper and lower bounds from the event file in a JSON format. <br>
        In order to run the program in analyse mode the following format must be used:
        <code>
            ./event_study_api --analyse &lt;stock-data-file&gt; &lt;event-data-file&gt;
        </code>
        While optional parameters can be given, they will be ignored by the program when the analyse flag is given.<br>
        The JSON output of the analyse mode is in the following format:
        <ul>
            <li> {"rics":[...], "eventVariables:{"Variable":{"lower":Number, "upper":Number}}}</li>
        </ul>

        <h4>RIC study mode</h4>
        RIC study mode allows the user to recieve a list of all the closing prices for a given RIC from the date it first appears until the last date in the file. <br>
        In order to run the program in RIC study mode the following format must be used:
        <code>
            ./event_study_api --getvalues "THIS.RIC" &lt;stock-data-file&gt; &lt;event-data-file&gt;
        </code>
        While optional parameters can be given, they will be ignored by the program when the getvalues flag is given.<br>
        The JSON output of the RIC study mode is in the following format:
        <ul>
            <li> {"ric":"RIC","startDate":"DD-MM-YYYY","values":[...]}<br>
                Note: The values are the closing values on each day starting from the startDate</li>
        </ul>

        <h4>The empty call mode</h4>
        Running the event study without any parameters except the stockFile and eventFile will result in the module returning all events listed in the event
        file.<br>
        The call for the json format and the result is given below
        <code>
            ./event_study_api --json stockFile eventFile<br>
            {"eventData":[{"ric":"RIC","date":"DD-MM-YYYY","variables":{"Variable":value}}]} #output format
        </code>
        <h3> Running from another program </h3>
        The program can be executed from within other systems by the usual methods of calling an external program
        e.g. in Java:
        <code>
            Process process = runtime.exec("directory/filename");
        </code>
        When invoked with the --json flag, the results will be streamed to the standard output as JSON, and can be
        read through there. Without the flag, the results will be generated and written to output.csv, which can
        then be read in and used as required.
    </div>
</div>
