<!--We set this variable to alert main.js that we are on this page-->
<script>
    var ON_HOMEPAGE = true;
</script>
<style>
    .navbar {
        position: fixed;
        width: 100%;
        z-index: 10;
    }
</style>
<header id="introWrapper">
    <div class="introContent">
        <p id="welcomeText">Welcome to Fabricado</p>
    </div>
    <button class="btn btn-success" id="appStarter">
        <i class="fa fa-play-circle"></i>
        Start pomegranate
    </button>
    <a href="#pomegranate_feature_section" class="btn btn-circle" id="pom_button_down">
        <i class="fa fa-angle-double-down scrollerIcon"></i>
    </a>
</header>
<section class="feature_section" id="pomegranate_feature_section">
    <h1 class="featureHeading">The Pomegranate App</h1>
    <div class="featureWrapper">
        <div class="feature_speed">
            <h1 class="featureInnerHeading">See things clearly</h1>
            <p>
                Visualise your stock data with our app, providing a simple interface to analyse and interact
                with. Even massive data sets aren't so big and daunting with our tools.
            </p>
        </div>
        <div class="feature_integrate">
            <h1 class="featureInnerHeading">Analyse your data</h1>
            <p>
                Our app uses our blazingly fast Event Study API module to bring together your stock data and
                event entries to help your analysis, and the filter tools use the variables you provide to
                make things even easier.
            </p>
        </div>
    </div>
    <a href="#es_feature_section" class="btn btn-circle" id="es_button_down">
        <i class="fa fa-angle-double-down scrollerIcon"></i>
    </a>
</section>
<section class="feature_section" id="es_feature_section">
    <h1 class="featureHeading">The Event Study API</h1>
    <div class="featureWrapper">
        <div class="feature_speed">
            <h1 class="featureInnerHeading">Blazingly fast</h1>
            <p>
                Designed and developed with C++, our module was created with speed and efficiency in mind. It will be hard
                to find another module which works faster. It can process tens of thousands of entries against hundreds
                of events in a couple hundred milliseconds.
            </p>
        </div>
        <div class="feature_integrate">
            <h1 class="featureInnerHeading">Ease of integration</h1>
            <p>
                Our module gives both CSV and JSON outputs for ease of integration with your system.
            </p>
        </div>
    </div>
    <a href="#introWrapper" class="btn-circle" id="intro_page_up">
        <i class="fa fa-angle-double-up scrollerIcon"></i>
    </a>
</section>

