<!DOCTYPE html>
<html>
<head>
    <title><%= typeof title == 'undefined' ? 'New Sails App' : title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">

            <!-- Collapsed Hamburger -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#spark-navbar-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Branding Image -->
            <a href="/" class="navbar-brand">
                Fabricado
            </a>
        </div>

        <div class="collapse navbar-collapse" id="spark-navbar-collapse">
            <!-- Left Side Of Navbar -->
            <ul class="nav navbar-nav">
                <li><a href="/pomegranate">Pomegranate</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/documentation">Documentation</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/releases">Releases</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/contact">Contact</a></li>
            </ul>

            <!-- Right Side Of Navbar -->
            <ul class="nav navbar-nav navbar-right">

            </ul>
        </div>
    </div>
</nav>
<%- body %>
</body>
<!--SCRIPTS-->

<!--SCRIPTS END-->
<script src="/js/dependencies/jquery-2.2.3.min.js"></script>
<script src="/js/dependencies/bootstrap.min.js"></script>
<script src="/js/bundle.js"></script>
</html>
