<!DOCTYPE html>
<html>
<head>
    <title><%= typeof title == 'undefined' ? 'New Sails App' : title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/bower_components/amcharts3/amcharts/plugins/export/export.css">
    <link rel="stylesheet" href="/bower_components/nouislider/distribute/nouislider.min.css">
    <link rel="stylesheet" href="/bower_components/amstock3/amcharts/style.css">
    <link rel="stylesheet" href="/bower_components/bootstrap-toggle/css/bootstrap2-toggle.min.css">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
</head>

<body>
<%- body %>
</body>
<!--SCRIPTS-->

<!--SCRIPTS END-->
<script src="/js/dependencies/jquery-2.2.3.min.js"></script>
<script src="/js/dependencies/bootstrap.min.js"></script>
<script src="/bower_components/bootstrap-toggle/js/bootstrap2-toggle.js"></script>
<script src="/bower_components/amstock3/amcharts/amcharts.js"></script>
<script src="/bower_components/amstock3/amcharts/serial.js"></script>
<script src="/bower_components/amstock3/amcharts/amstock.js"></script>
<script src="/bower_components/amcharts3/amcharts/xy.js"></script>
<script src="/bower_components/amcharts3/amcharts/plugins/export/export.min.js"></script>
<script src="/js/bundle.js"></script>
</html>
