<!--We set this variable to alert main.js that we are on this page-->
<script>
    var ON_RELEASES = true;
</script>
<div class="mainContentWrapper">
    <div class="pageTitleWrapper">
        <h1>Event Study API releases</h1>
    </div>


    <div class="releasesWrapper">
        <% releaseData.sort(versionComp) %>
        <% _.forEach(releaseData, function (release) { %>
        <div class="releaseBox">
            <h4 class="rBoxHeading"><%= release.api %> version <%= release.version %></h4>
            <div class="downloadsContainer">
                <a class="btn btn-primary" href=<%= release.osxUrl %>>Mac OsX (64 bit)</a>
                <a class="btn btn-primary" href=<%= release.winUrl %>>Windows</a>
                <a class="btn btn-primary" href=<%= release.linuxUrl %>>Linux(64 bit)</a>
            </div>
            <a href="javascript:void(0)" class="rNotesToggle">
                Release Notes<span class="fa fa-plus-circle" style="margin-left:5px "></span>
            </a>
            <div class="releaseNotesContainer">
                <%- release.rNotes %>
            </div>
        </div>
        <% }) %>
    </div>
</div>
