//File paths to image assets
$stockimage: "/images/background-stocks.jpeg";
$nighttime_road: "/images/speed_background.jpeg";
$pomegranate_background: '/images/pomegranate_background.jpg';
$fileUploadHeadingColor: #494848;
$fileUploadBackgroundColor: #393939;
$filterDataBackgroundColor: #337ab7;
$filterDataHeadingColor: #3689cf;
$greenTabColour: #66ff66;
$pinkTabColour: #ff1a66;
$blueTabColour: #00cccc;
$orangeTabColor: #ffd100;
$darkOrangeTabColour: #ff8c1a;
$purpleTabColour: #cc99ff;
$darkBlueTabColour: #1ab2ff;
$yellowTabColour: #fff75a;
