html, body {
    width: 100%;
    height: 100%;
}

.mainContentWrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: scroll;
}

.navbar {
    margin: 0;
}

.pageTitleWrapper {
    @extend .centered;
    @extend .headingWithoutMargin;
}

.headingWithoutMargin {
    margin: 0;
}

.centered {
    text-align: center;
}

.pom_inner_container {
    width: 100%;
    height: 92%;
}

.miniEventstudyModal {
    width: 80%;
    height: 90%;
    .modal-content {
        width: 100%;
        height: 100%;
        .modal-header {
            width: 100%;
            height: 10%;
            background-color: #3b3b3b !important;
            .modal-title {
                color: $darkOrangeTabColour !important;
            }
            button.close {
                color: $darkOrangeTabColour;
            }
        }
        .modal-body {
            width: 100%;
            height: 80%;
            .MiniEventStudyWrapper {
                width: 100%;
                height: 100%;
                .miniEventStudyForm {
                    width: 100%;
                    height: 10%;
                    .miniEventStudyDate {
                        margin-left: 10%;
                    }
                    .miniEventStudyRIC {
                        margin-left: 3%;
                    }
                    .miniEventStudyWindow {
                        margin-left: 3%;
                    }
                }
                #miniEventStudyGraph {
                    width: 100%;
                    height: 90%;
                    margin-top: 1.5%;
                }
            }
            .btn {
                background-color: white !important;
                color: $darkOrangeTabColour;
                border-color: $darkOrangeTabColour;
                margin-left: 3%
            }
            .btn:hover {
                background-color: $darkOrangeTabColour !important;
                color: white !important;
            }  

        }
        .modal-footer {
            width: 100%;
            height: 10%;
            .closeButton {
                background-color: white !important;
                color: $darkOrangeTabColour;
                border-color: $darkOrangeTabColour;
            }
            .closeButton:hover {
                background-color: $darkOrangeTabColour !important;
                color: white !important;
            }   
        }
    }
}

.addEventModal {
    .modal-content {
        .modal-header {
            background-color: #3b3b3b !important;
            .modal-title {
                color: $darkOrangeTabColour !important;
            }
            button.close {
                color: $darkOrangeTabColour;
            }
        }
        .modal-body {
            width: 100%;
            height: 80%;
            .btn {
                background-color: white !important;
                color: $darkOrangeTabColour;
                border-color: $darkOrangeTabColour;
                margin-left: 3%
            }
            .btn:hover {
                background-color: $darkOrangeTabColour !important;
                color: white !important;
            }
            b {
                font-size: 1.1em;
            } 
        }
        .modal-footer {
            width: 100%;
            height: 10%;
            .closeButton {
                background-color: white !important;
                color: $darkOrangeTabColour;
                border-color: $darkOrangeTabColour;
            }
            .closeButton:hover {
                background-color: $darkOrangeTabColour !important;
                color: white !important;
            }   
        }
    }
}

.accountModal {
    .modal-content {
        .modal-header {
            background-color: #3b3b3b !important;
            .modal-title {
                color: $greenTabColour !important;
            }
            button.close {
                color: $greenTabColour;
            }
        }
    }
}

.stockInfoModal {
    .modal-content {
        .modal-header {
            background-color: #3b3b3b !important;
            .modal-title {
                color: $purpleTabColour !important;
            }
            button.close {
                color: $purpleTabColour;
            }
        }
        .modal-footer {
            .btn {
                background-color: white !important;
                color: $purpleTabColour;
                border-color: $purpleTabColour;
            }
            .btn:hover {
                background-color: $purpleTabColour !important;
                color: white !important;
            }   
        }
    }

}

.eventInfoModal {
    .modal-content {
        .modal-header {
            background-color: #3b3b3b !important;
            .modal-title {
                color: $purpleTabColour !important;
            }
            button.close {
                color: $purpleTabColour;
            }
        }
        .modal-footer {
            .btn {
                background-color: white !important;
                color: $purpleTabColour;
                border-color: $purpleTabColour;
            }
            .btn:hover {
                background-color: $purpleTabColour !important;
                color: white !important;
            }   
        }
    }

}

.stockBuyinModal {
    .modal-content {
        .modal-header {
            background-color: #3b3b3b !important;
            .modal-title {
                color: $darkBlueTabColour !important;
            }
            button.close {
                color: $darkBlueTabColour;
            }
        }
        .modal-body {
            width: 100%;
            height: 80%;
            .btn {
                background-color: white !important;
                color: $darkBlueTabColour;
                border-color: $darkBlueTabColour;
                margin-left: 45%;
                margin-top: 3%;
            }
            .btn:hover {
                background-color: $darkBlueTabColour !important;
                color: white !important;
            }
        }
        .modal-footer {
            .btn {
                background-color: white !important;
                color: $darkBlueTabColour;
                border-color: $darkBlueTabColour;
            }
            .btn:hover {
                background-color: $darkBlueTabColour !important;
                color: white !important;
            }   
        }
    }

}


.deleteSymbol:hover {
    cursor: pointer;
    color:red;
}

.infoSymbol:hover {
    cursor: pointer;
    color:lightblue;
}
