#introWrapper {
    background: url($stockimage) no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    width: 100%;
    height: 100%;
    .introContent {
        width: 60%;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.4);
        color: white;
        position: relative;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -40%);
        #welcomeText {
            font-weight: bold;
            font-size: 4em;
            @media only screen and (max-width: 768px) {
                font-size: 3em;
            }
        }
    }
    #appStarter {
        font-size: 1.4em;
        position: relative;
        display: block;
        left: 50%;
        top: 45%;
        transform: translate(-50%, -45%);
        margin-top: 2%;
    }
}

.feature_section {
    background-color: black;
    width: 100%;
    height: 100%;
    .featureHeading {
        position: relative;
        margin: 0;
        text-align: center;
        top: 10%;
    }
    .featureWrapper {
        display: flex;
        width: 65%;
        height: 50%;
        margin: 0 auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        .featureInnerHeading {
            margin: 0 0 1% 0;
        }
        .feature_speed {
            width: 50%;
            height: 100%;
            border-right: 1px solid white;
            padding: 2%;
        }
        .feature_integrate {
            width: 50%;
            height: 100%;
            border-left: 1px solid white;
            padding: 2%;
        }
    }

    .pomegranate_text {
        width: 45%;
        height: 40%;
        margin: 0 auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

#pomegranate_feature_section {
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    -o-background-size: contain;
    background: black url($pomegranate_background) no-repeat center center scroll;
    color: white;
    .featureWrapper {
        background-color: rgba(0, 0, 0, 0.4);
    }
}

#es_feature_section {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background: black url($nighttime_road) no-repeat bottom center scroll;
    .featureWrapper {
        background-color: rgba(0, 0, 0, 0.4);
    }
    color: white;
}

.btn-circle {
    width: 80px;
    height: 80px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid white;
    border-radius: 100% !important;
    color: white;
    background: transparent;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    &:hover,
    &:focus {
        outline: none;
        color: white;
        background: rgba(white, 0.1);
    }
    .scrollerIcon {
        font-size: 5em;
    }
}

#es_button_down {
    position: absolute;
    bottom: -97%;
    left: 50%;
    transform: translateX(-50%);
}

#pom_button_down {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
}

#intro_page_up {
    position: absolute;
    bottom: -197%;
    left: 50%;
    transform: translateX(-50%);
}
