#react-pomegranateApp-container {
    width: 100%;
    height: 100%;

    .pomegranateAppRoot {
        width: 100%;
        height: 100%;
        font-family: 'Open Sans', sans-serif;

        .tabBarWrapper {
            background-color: #3b3b3b;
            .container {
                width: 100%;
                .navbar-header {
                    .navbar-brand {
                        display: inline-block;
                        height: 100%;
                        color:white;
                        border-right: 0.5px solid white;
                        margin-bottom: 0;
                    }
                }
                .navbar-nav > li > a, .navbar-brand {
                    padding-top:14px !important;
                    padding-bottom:0 !important;
                    height: 50px !important;
                }
                .inner-nav {
                    width: 50%;
                    li {
                        width: 100%;
                    }
                }
                .navbar {min-height:50px !important;}
                .navbar-nav {
                    li {
                        a {
                            color:white;
                        }
                        a.fileUpload:hover{
                            background-color: #666666;
                            color: $greenTabColour;
                        }
                        a.stockLifeTime:hover{
                            background-color: #666666;
                            color: $pinkTabColour;
                        }
                        a.eventStudy:hover{
                            background-color: #666666;
                            color: $blueTabColour;
                        }
                        a.addEvents:hover{
                            background-color: #666666;
                            color: $orangeTabColor;
                        }
                        a.news:hover {
                            background-color: #666666;
                            color: $darkOrangeTabColour;
                        }
                        a.portfolio:hover {
                            background-color: #666666;
                            color: $purpleTabColour;
                        }
                        a.stockStudy:hover {
                            background-color: #666666;
                            color: $darkBlueTabColour;
                        }
                        a.factorStudy:hover {
                            background-color: #666666;
                            color: $yellowTabColour;
                        }
                        a.analysis:hover {
                            background-color: #666666;
                            color: $orangeTabColor;
                        }
                        a.active {
                            background-color: black;
                            color: $greenTabColour;
                        }
                        a.active.singleEventView {
                            color: $blueTabColour;
                        }
                        a.active.multiEventView {
                            color: $blueTabColour;
                        }
                        a.active.stockLifeTime {
                            color: $pinkTabColour;
                        }
                        a.active.eventStudy {
                            color: $blueTabColour;
                        }
                        a.active.addEvents {
                            color: $orangeTabColor;
                        }
                        a.active.news {
                            color: $darkOrangeTabColour;
                        }
                        a.active.portfolio {
                            color: $purpleTabColour;
                        }
                        a.active.stockStudy {
                            color: $darkBlueTabColour;
                        }
                        a.active.factorStudy {
                            color: $yellowTabColour;
                        }
                        a.active.analysis {
                            color: $orangeTabColor;
                        }
                        .fa-upload {
                            font-size: 1.6em;
                        }
                    }
                }
                .navbar-right {
                    #appExit {
                        //background-color: #ff4d4d;
                        a:hover {
                            background-color: #ff4d4d;
                            //color: black;
                        }
                    }
                }
            }
        }

        .lifetimeWindowWrapper {
            @extend .pom_inner_container;
            display: flex;
            .lifetimeGraphWrapper {
                width: 70%;
                height: 100%;
                background-color: white;
            }

            .lifetimeRightSidebarWrapper {
                width: 30%;
                height: 100%;
                background-color: #3b3b3b;
                overflow-y: scroll;
                border-left-style: ridge;
                border-left-color: #838383;
                color: white;

                h3 {
                    color: $pinkTabColour;
                }

                .eventListItem:hover {
                    background-color: #ffb8e5;
                    color: black;
                }
                .selectedListItem {
                    background-color: $pinkTabColour;
                    color: #ffffff;
                }
            }

            .tableWrapper {
                width: 30%;
                height: 100%;
                background-color: #3b3b3b;
                color: white;
                text-align: center;
                overflow-y: scroll;
                margin-left: 1%;
                h5 {
                  color: $darkBlueTabColour;
                  font-size: 1.1em;
                }
                .Select {
                    width: 70%;
                    margin: 0 auto;
                    margin-top: 3%;
                    margin-bottom: 1%;
                    color: black;
                }
                .companyProfileWrapper {
                    margin-top: 4%;
                    margin-bottom: 4%;
                }
            }
        }

        .fileUploadWindowWrapper {
            @extend .pom_inner_container;
            background-color: #3b3b3b;
            color: white;
            .formCollectWrapper {
                padding-top: 3.5%;
                padding-left: 12%;
                padding-right: 12%;
                display: inline-block;

                .btn {
                    background-color: #3b3b3b;
                    color: $greenTabColour;
                    border-color: $greenTabColour;
                    margin-top: 8%;
                }

                .loginWrapper {
                    display: flex;
                    h3 {
                        width: 20%;
                        padding-right: 5%;
                        color: $greenTabColour;
                        border-right: 1px solid $greenTabColour;
                        text-align: right;
                    }
                    .loginFormWrapper {
                        width: 70%;
                        padding-left: 20%;
                        padding-right: 20%;
                        text-align: center;
                        margin-top: 1%;
                    }
                }

                .uploadWrapper {
                    padding-top: 5%;
                    display: flex;
                    h3 {
                        width: 20%;
                        height: auto;
                        padding-right: 5%;
                        color: $greenTabColour;
                        border-right: 1px solid $greenTabColour;
                        text-align: right;
                    }
                    .fileUploadWrapper {
                        width: 45%;
                        padding-left: 4%;
                        margin-top: 3%;
                        form {
                            width: 100%;
                            display: inline-block;
                            .fileUpload {
                                width: 60%;
                                float: left;
                                input[type="file"] {
                                    width: 100%;
                                }
                            }

                            .stockFileUploadSubmit,.eventFileUploadSubmit {
                                width: 30%;
                                height: 100%;
                                float: left;
                                text-align: left;

                                margin-left: 5%;

                                .loader_gif {
                                    width: 20%;
                                    transform: translate(-200%,180%);
                                }

                            }
                        }
                    }
                    .fileFormDescriptorWrapper {
                        width: 30%;
                        margin-top: 3%;
                        .eventDescriptionWrapper {
                            padding-top: 10%;
                        }
                    }
                }
            }
        }

        .eventStudyWindowWrapper {
            @extend .pom_inner_container;
            display: flex;

            .eventStudyGraphWrapper {
                width: 70%;
                height: 100%;
            }

            .eventStudyRightSidebarWrapper {
                width: 30%;
                height: 100%;
                background-color: #3d3d3d;
                color: white;
                border-right-color: black;
                text-align: center;
                overflow-y: scroll;

                .singleEventFilterWrapper {
                    input[type=number] {
                        width: 80%;
                    }
                    select {
                        width: 70%;
                        margin: 1% auto;
                    }
                    input[type=submit] {
                        margin: 1%;
                    }
                    input[type=radio] {
                        margin: 1%;
                    }
                }

                .eventListItem:hover {
                    background-color: #ffb8e5;
                }
                .selectedListItem {
                    background-color: #ff0046;
                    color: #ffffff;
                }

                .filterVariableFormWrapper {
                    p {
                        font-size:1.5em;
                        padding-top: 1%;
                        //border-bottom: 2px solid white;
                    }
                    select {
                        width: 70%;
                        margin: 1% auto;
                    }
                    input[type=submit] {
                        margin: 1%;
                    }
                    input[type=radio] {
                        margin: 1%;
                    }
                    h3 {
                        color: $blueTabColour;
                    }
                }
                .noUi-connect {
                    background: $blueTabColour;
                }
                .noUi-origin {
                    height:10px;
                }
                .noUi-horizontal {
                    height: 10px;
                }
                .noUi-handle {
                    height: 20px;
                    width: 20px;
                }
                .noUi-handle:after {
                    left: 5px;
                }
                .noUi-handle:after, .noUi-handle:before {
                    height: 10px;
                    width: 1px;
                    left: 7px;
                    top: 4px;
                }
                input {
                    margin-top: 10px;
                    color: black;
                }


                .btn:hover {
                    background-color: #5cd65c !important;
                    color: white !important;
                }
            }
        }

        .addEventsWindowWrapper {
            height: 100%;
            background-color: #3b3b3b;
            .eventsFormWrapper {
                display: flex;
                padding: 8%;
                h3 {
                    width: 17%;
                    padding-right: 3%;
                    color: $orangeTabColor;
                    border-right: 1px solid $orangeTabColor;
                }
                .formArea {
                    width: 63%;
                    padding-left: 3%;
                    display: inline-block;
                    background-color: #3b3b3b;
                    color: $orangeTabColor;
                    margin-top: 1%;
                    .btn {
                        margin: 1%;
                        margin-top: 3%;
                        margin-bottom: 3%;
                        color: $orangeTabColor;
                        background-color: #3b3b3b;
                        border-color: $orangeTabColor;
                    }
                }
            }
        }

        .analysisWindowWrapper {
            @extend .pom_inner_container;
            display: flex;

            .analysisTableWrapper {
                width: 60%;
                height: 100%
            }

            .analysisSidebarWrapper {
                width: 40%;
                height: 100%;
                display: inline-block;
                text-align: center;
                background-color: #3b3b3b;
                color: $orangeTabColor;
            }
        }

        .newsWindowWrapper {
            text-align: center;

            .btn {
                background-color: white !important;
                color: $darkOrangeTabColour;
                border-color: $darkOrangeTabColour;
                margin-top: 2%;
                margin-bottom: 2%;
            }
            .btn:hover {
                background-color: $darkOrangeTabColour !important;
                color: white !important;
            }

            .newsRenderWrapper {
                .newsArticle {
                    text-align: left !important;
                    margin-bottom: 0.5%;
                    .panel-heading {
                        background-color: #3b3b3b !important;
                        a {
                            color: $darkOrangeTabColour !important;
                        }
                        a:visited {
                            text-decoration: none !important;
                        }

                    }
                    .panel-collapse {
                        margin-top: 1%;
                        margin-bottom: 1%;
                    }
                    .btn {
                        background-color: white !important;
                        color: $darkOrangeTabColour;
                        border-color: $darkOrangeTabColour;
                        margin-top: 0% !important;
                        margin-bottom: 1% !important;
                        margin-left: 1% !important;
                        margin-right: 1% !important;
                    }
                    .btn:hover {
                        background-color: $darkOrangeTabColour !important;
                        color: white !important;
                    }
                }

            }

        }

        .portfolioWindowWrapper {
            @extend .pom_inner_container;

            .tableWrapper {
                display: flex;
                justify-content: center;
                width: 100%;
                height: 48.5%;
                // background-color: #3b3b3b;
                .portfolioStocksWrapper {
                    width: 45%;
                    height: 95%;
                    margin-right: 2.5%;
                    margin-left: 2.5%;
                    //margin-bottom: 1.5%;
                    overflow-y: scroll;
                    color: black;
                    // background-color: #3b3b3b;
                    .reactable-header-sortable:hover {
                        background-color: $purpleTabColour;
                        color: white;
                    }
                }

                .portfolioEventsWrapper {
                    width: 45%;
                    height: 95%;
                    //margin-bottom: 1.5%;
                    overflow-y: scroll;
                    color: black;
                    // background-color: #3b3b3b;
                    .reactable-header-sortable:hover {
                        background-color: $purpleTabColour;
                        color: white;
                    }
                }
            }

            .portfolioGraphWrapper {
                width: 100%;
                height: 50%;
                margin-top: 0.5%;
            }
        }

        .newsWindowWrapper {
            .newsRenderWrapper {

            }
        }

        .factorStudyWindowWrapper {
            @extend .pom_inner_container;
            display: flex;

            .factorStudyGraphWrapper {
                width: 74%;
                height: 100%;
            }

            .factorStudySidebarWrapper {
                display: inline-block;
                text-align: center;
                width: 26%;
                height: 100%;
                background-color: #3b3b3b;
                color: $yellowTabColour;

                .btn {
                    background-color: #3b3b3b;
                    border-color: $yellowTabColour;
                    color: $yellowTabColour;
                }
            }
        }
    }
}
