.releasesWrapper {
    width: 100%;
    padding: 0 5% 0 5%;
    .releaseBox {
        padding: 1% 0 1% 0;
        margin-top: 50px;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 15px;
        box-shadow: 0 0 10px 3px #eee;
        .rBoxHeading {
            margin: 0 0 10px 0;
            color: grey;
        }

        .downloadsContainer {
            a {
                width: 18%;
                min-width: 5%;
                margin-right: 1%;
                @media screen and (max-width: 768px) {
                    width: 25%;
                }
            }
            margin: 0 0 10px 0;
        }

        .releaseNotesContainer {
            display: none;
            position: relative;
            left: 50%;
            width: 40%;
            transform: translateX(-50%);
            text-align: left;

            .releaseNotesTitle {
                text-align: center;
            }
        }
    }
}
